
.active a{
    position: relative;
    color:#1D425E!important;
    padding-bottom: 10px !important;
    /* border-bottom: 4px solid #780A2C  */

    ;
    font-weight: 600 !important;
    /* border-radius:2px */

    transition: 0.3s  ease-in-out  ;
}
.active a::after{
    content:'';
    position: absolute;
    width:70%;
    background-color:#1D425E;
    height: 3px;
    bottom:-4px;
    left: 10px;

   


}
.nav-item {
    margin-top: 5px !important;
}
.nav-link{
    color: var(--main-color) !important;
font-size: 16px !important;
font-family: 'Quicksand', sans-serif;
font-style: italic;
font-weight: 500 !important;
padding-bottom: 10px !important;
/* padding:5px 15px !important; */

flex-shrink: 0;
text-align: center;
margin-right: 10px;


} 

nav{
  
  
  background-color:#fff !important;
  left: 0;
  top: 0;
  z-index:2;

 
  /* box-shadow: 1px 1px 5px 0px rgba(40,35,35,0.75);
-webkit-box-shadow: 1px 1px 5px 0px rgba(40,35,35,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(40,35,35,0.75); */
}
  .navbar-toggler-icon {
 
    background-image: url('./../../assets/icons8-menu-64.png') !important ;
  
}


.navbar-toggler {
    border:transparent !important;
    transition: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}
@media (max-width: 991px){
    .navbar-collapse {
z-index: 3;
position: relative;
        margin-top: 20px;
        background-color:#EFF2F5;
        width: 50%;
       
       
    }
   
    .nav-item {
        margin-left:-10px !important;
       
    }
    .nav-link {
color:var(--main-color)!important;

    }
  
    
}
.navbar-collapse{
    padding-bottom: 20px;
    border-radius:20px;
    transition: 0.5s ease-in-out all; 
}

nav .navbar-collapse.show{
    left: 0 !important;
}
@media (max-width:992px )and (max-width:999px) {

   
    .active a::after{
        content:'';
        position: absolute;
        width:15%;
        background-color:#1D425E;
        height: 3px;
        bottom:-4px;
        left: 42%;
    
       
    
    
    }
  
    
}

.navscroller{
    box-shadow: 0px 1px 6px 0px rgba(50,44,44,0.75);
-webkit-box-shadow: 0px 1px 6px 0px rgba(50,44,44,0.75);
-moz-box-shadow: 0px 1px 6px 0px rgba(50,44,44,0.75);
height: 95px
;


    
}